<li id="category-<%= category.id %>">
  <span class="title"><%= link_to category.title, admin_category_path(category.id) %></span>
  <span class="intro">
  	<p><%= category.intro %></p>
  </span>
</li>